<div ng-repeat="error in errors">
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                ng-click="dismiss(error)">&times;</button>

        <span ng-show="hasDetails(error)">
            <strong><span ng-bind="error.message"></span></strong>
            <p class="error-details-toggler" ng-click="showDetails(error)">
                <span style="font-size:1.2em;"
                      ng-class="{'fa fa-plus-square-o': !isDetailActive(error), 'fa fa-minus-square-o': isDetailActive(error)}"></span>
                Details
            </p>
        </span>
        <span ng-hide="hasDetails(error)" ng-bind-html="error.message"></span>

        <div ng-show="errorVisibilities[$index]" class="error-details-pane">
            <ul>
                <li>Time: <span class="error-attribute" ng-bind="error.ts | date:'dd.MM.yyyy HH:mm:ss'"></span></li>
                <li ng-show="error.status">Status: <span class="error-attribute" ng-bind="error.status"></span></li>
                <li ng-show="error.url">URL: <span class="error-attribute" ng-bind="error.url"></span></li>
                <li ng-show="error.method">Method: <span class="error-attribute" ng-bind="error.method"></span></li>
                <li ng-show="error.length">Length: <span class="error-attribute" ng-bind="error.length"></span></li>
                <li ng-show="error.stacktrace" style="margin-top:5px;">Stacktrace:
                    <pre class="pre-scrollable" ng-bind="error.stacktrace" ng-show="error.stacktrace"></pre>
                </li>
                <li style="margin-top:5px;">Error Source Content:
                    <pre class="pre-scrollable" ng-bind="error | json"></pre>
                </li>
            </ul>
        </div>
    </div>
</div>